.sales-container {
  height: 100%;
  padding: 2px;
}
.sales-form-container,
.sales-made-container {
  margin-bottom: 25px;
}
.sales-made-container {
  padding: 10px;
}
.sales-btn {
  margin-top: 5px;
  margin-bottom: 5px;
}
