<div class="page">
    <div class="page-navigation">
        <ul class="vertical-nav">
            <li>
                <a routerLink="/admin/products">products</a>
            </li>
            <li>
                <a routerLink="/admin/products">products</a>
            </li>
            <li>
                <a routerLink="/admin/products">products</a>
            </li>
            <li>
                <a routerLink="/admin/products">products</a>
            </li>
            <li>
                <a routerLink="/admin/products">products</a>
            </li>
        </ul>
    </div>
    <div class="page-content flex gap-3">
        <app-card [data]="{title:'total products',content:20}"/>
        <app-card [data]="{title:'total products',content:20}"/>
        <app-card [data]="{title:'total products',content:20}"/>
        <app-card [data]="{title:'total products',content:20}"/>
        
    </div>
</div>
