<table class="table">
  <caption class="caption-top sticky top-0">
    LIST OF SALES
    <button (click)="refresh()" class="btn btn-secondary btn-xs ml-1">
      refresh
    </button>
  </caption>
  <thead>
    <tr>
      <th>sn</th>
      <th>date-sold</th>
      <th>product</th>
      <th>quantity</th>
      <th>sell-price</th>
      <th>subtotal</th>
    </tr>
  </thead>
  <tbody>
    @for (item of sales(); track $index) {
    <tr>
      <td>{{ $index + 1 }}</td>
      <td>{{ item.date.toLocaleDateString() }}</td>
      <td>{{ item.product }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.price | currency : "TZS" }}</td>
      <td>{{ item.quantity * item.price | currency : "TZS" }}</td>
    </tr>
    }
    <tr>
      <td colspan="5" class="text-right">total</td>
      <td colspan="1">{{ totalSales() | currency : "TZS" }}</td>
    </tr>
  </tbody>
</table>
