.wrapper {
  height: 100vh;
}
.logo {
  height: 8%;
  background-color: aqua;
}
.logo-content,
.footer-content {
  text-align: center;
}
.logo-content {
  font-size: 3vh;
}
.content {
  height: 87%;
}
.app-footer {
  height: 5%;
  background-color: chartreuse;
}
